:root {
  --white: #FFFFFF;
  --black: #1E1E1E;
  --lightGrey: #e6e6e6;
  --alert: #D44141;
  --lightPink: #f6eeee;
}

/* CONTAINERS */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Helvetica Neue", sans-serif;
}

.content {
  width: 100%;
  max-width: 600px;
}

@media screen and (min-width: 1200px) {
  .content {
    width: 50%;
  }
}

.container {
  display: grid;
  padding: 0 1.25rem;
}

.content-wrapper {
  display: flex;
  justify-content: center;
}

.container.connect {
  place-items: center;
  margin-top: 200px;
}

.container.stats {
  margin: 2rem 0;
  padding: 2rem 0;
  border-top: 1px solid var(--lightGrey);
  border-bottom: 1px solid var(--lightGrey);
  grid-template-columns: auto auto;
  row-gap: 1.5rem;
}

/* TYPOGRAPHY */
h1 {
  font-style: italic;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin: 3rem 0 2.625rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0 1rem;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.stats, h3 {
  padding-right: 2rem;
}

p {
  margin: 0;
}

p.cta {
  font-size: 1.125rem;
  text-align: center;
  width: 70%;
}

.error {
  color: var(--alert);
  background-color: var(--lightPink);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3rem;
  border-radius: 5px;
  margin: 2rem 1rem;
  min-width: 300px;
  max-width: 600px;
}

/* BUTTONS */
button {
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid;
  font-family: inherit;
}

button.connect {
  color: var(--white);
  background-color: var(--black);
  font-size: 1.125rem;
  font-weight: 600;
  min-width: 200px;
  min-height: 45px;
  margin-top: 2rem;
}

button.connect:hover {
  color: var(--black);
  background-color: var(--white);
}

button.disconnect {
  min-width: 122px;
  min-height: 37px;
  color: var(--alert);
  background-color: var(--white);
}

button.disconnect:hover {
  background-color: var(--lightPink);
}

/* LIST ITEMS */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}

li:last-of-type {
  margin-bottom: 0;
}